.env
*.env
*.swo
*.csv
staticfiles/
penv
admin_seed.txt
node_modules
package-lock.json
*.swp
__pycache__

import_claims/hypercerts/config.json
import_claims/hypercerts/hypercert-claim-data.csv
.gitignore
venv
.env
.venv
.DS_Store
import_claims/.DS_Store
spider_claims/crowdsupply/.env
spider_claims/crowdsupply/spiders/__pycache__
