.env
*.swp
__pycache__

import_claims/hypercerts/config.json
import_claims/hypercerts/hypercert-claim-data.csv
.gitignore
venv
.env
import_claims/.DS_Store
spider_claims/crowdsupply/.env
spider_claims/crowdsupply/spiders/__pycache__